.chat {
  background-image: url(../images/chatBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.chat .status-bar {
  background-color: #9aadbc;
}

.chat .header {
  background-color: #b2c7da;
}

.chat__body .chat__timestamp {
  border-top: 1px solid #f9f9f9;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}

.chat__body .message {
  font-weight: 800;
  margin-bottom: 10px;
}

.chat__body .chat__list {
  display: flex;
  flex-direction: column;
}

@keyframes showLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat__body .incoming-message {
  align-self: flex-start;
  animation: showLeft 0.5s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.chat__body .incoming-message .friend__image {
  animation: spin 2.2s linear infinite forwards;
}

.chat__body .incoming-message .friend__content .friend__name {
  margin-top: 8px;
}

.chat__body .friend__message {
  display: block;
  background-image: linear-gradient(to right, #1c92d2, #f2fcfe);
  padding: 8px 10px;
  border-radius: 13px;
  border-top-left-radius: 0;
  margin-top: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

@keyframes showRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat__body .sent-message {
  align-self: flex-end;
  background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  border-radius: 13px;
  border-bottom-right-radius: 0;
  padding: 8px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  animation: showRight 0.5s ease-in-out forwards;
}

.chat__body .chat__write-bar {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__write {
  width: 100%;
  margin: 0 auto;
  bottom: 0px;
  padding: 20px 50px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}

.chat__write:focus {
  width: 80%;
  transform: translateY(-150px);
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.chat__write-bar .write__icon {
  transition: opacity 0.5s ease-out;
}

.chat__write:focus ~ .write__icon {
  opacity: 0;
}

.chat__write-bar i {
  font-size: 25px;
  opacity: 0.6;
}

.write__icon-left {
  position: absolute;
  left: 15px;
}

.write__icon-right {
  position: absolute;
  right: 15px;
}

.write__icon-right i {
  margin-left: 18px;
}
