.chat {
  height: 100%;
  background-image: url(../images/chatBg.png);
}

.chat__timestamp {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #a0b3c2;
}

.chat__body .friend__name {
  color: #2c3238;
  margin-bottom: 5px;
}

.incoming__message {
  border: 1px solid black;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  padding: 7px 8px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}

.sent__message {
  border: 1px solid black;
  border-radius: 25px;
  border-bottom-right-radius: 0;
  padding: 7px 8px;
  margin-bottom: 10px;
  background-image: linear-gradient(to left, #e1eec3, #f05053);
}

.chat__column-sent {
  float: right;
}

.chat__column {
  display: flex;
  align-items: center;
  clear: right;
}

.chat__write {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 80%;
  margin: 0 10% 10px 10%;
  padding: 0 10px;
  left: 0;
  bottom: 0;
  background-color: white;
  border-radius: 20px;
}

.chat__write .fa-microphone {
  padding-left: 10px;
}

.chat__write input {
  margin: 10px;
  width: 80%;
  border-color: transparent;
  padding: 3px 0 3px 0;
}

.chat__write i:nth-child(2) {
  padding-left: 10px;
}

.chat__icon {
  font-size: 20px;
}
