.find__header-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.find__header-icons i {
  display: block;
  margin-bottom: 20px;
}

.find__header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find__body-title {
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 20px;
}
