.g-friend {
  width: 50px;
  border-radius: 20px;
}

.friends__friend {
  margin-right: 15px;
}

.friend__column {
  display: flex;
  align-items: center;
}

.friend__preview {
  font-size: 12px;
  opacity: 0.6;
}

.chats__list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chats__timestamp {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.6;
}
