.friend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__image,
.friend__plus .friend__image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border: 1px solid purple;
  border-radius: 23px;
}

.friend .friend__name {
  display: block;
  font-weight: 700;
  margin-bottom: 2px;
}

.friend .friend__preview,
.friend .chat__time,
.friend .friend__status-message {
  font-size: 12px;
  opacity: 0.6;
}

.friend .friend__email {
  font-size: 11px;
  opacity: 0.6;
}

.friend__title {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.6;
  margin: 14px 0;
  padding-top: 14px;
  border-top: 1px solid #f9f9f9;
}

.friend .friend__now-listening {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #1bbf4b;
  padding: 0 10px;
  border-radius: 20px;
}

.friend .friend__now-listening i {
  margin-left: 5px;
  font-size: 18px;
  color: #1bbf4b;
}
