.friend__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend__column {
  display: flex;
  align-items: center;
}

.friend__title {
  display: block;
  margin-bottom: 5px;
}

.friend__column .friend__chat-time {
  font-size: 13px;
  opacity: 0.5;
}

.friend__list img {
  width: 50px;
  border-radius: 20px;
  margin-right: 15px;
}

.friend__content .friend__preview {
  opacity: 0.6;
}
