.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 25px 0;
  font-size: 23px;
  font-weight: 700;
}

.header__icon i {
  margin-left: 20px;
}

.header__column {
  display: flex;
  align-items: center;
}

.friend__column .friend__add-btn {
  background-color: #f5f5f5;
  padding: 10px 15px;
}

.header__back-btn {
  padding-right: 15px;
}
