.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.header__column {
  display: flex;
  align-items: center;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 21px;
  opacity: 0.6;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  font-size: 25px;
}

.header__title {
  font-weight: 800;
  font-family: "Open Sans";
}

.header__icons i {
  margin-left: 18px;
}

.header .back-btn {
  margin-right: 15px;
}
