.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__icons {
  font-size: 25px;
  padding-left: 20px;
}

.header__icon {
  padding-left: 20px;
}

.header__add-btn {
  display: flex;
  align-items: center;
}

.header__add-btn i {
  font-size: 22px;
  padding-right: 15px;
}
