.bigScreen {
  width: 100vw;
  height: 100vh;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  z-index: 3;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
