.more__header-icons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fbfbfb;
}

.more__header-icon {
  padding-right: 50px;
  text-align: center;
}

.more__header-iconTitle {
  display: block;
  padding-top: 10px;
  font-size: 13px;
}

.more__list-icons {
  display: flex;
  padding-top: 15px;
}

.more__list-icon {
  padding-right: 25px;
  text-align: center;
}

.more__list-iconTitle {
  display: block;
  font-size: 13px;
  opacity: 0.6;
}

.more__list-icon i {
  background-color: #fae100;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 10px;
}
