.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background-color: #fcfcfc;
  animation: showNav 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes showNav {
  from {
    transform: translateY(100px);
  }
  to {
    transform: none;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.nav .fa-comment {
  position: relative;
}

.nav .chat__badge {
  position: absolute;
  top: -7px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  background-color: #e46040;
  padding: 3px 5px;
  border-radius: 50%;
  color: white;
}
