.nav-list {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  font-size: 22px;
  background-color: #fcfcfc;
}

.nav-list_link {
  position: relative;
}

.nav .chats__badge {
  position: absolute;
  top: -4px;
  left: 12px;
  padding: 4px 6px;
  border-radius: 25px;
  background-color: #e65f3f;
  font-size: 10px;
  color: white;
}
