.settings .icons__list-column {
  border-top: 1px solid #fbfbfb;
  padding: 25px 0;
  font-size: 20px;
}

.settings .icons__list-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.settings .icons__list-item i {
  padding-right: 15px;
}

.settings .icon__name-settings {
  font-weight: 700;
}
