.status-bar {
  position: fixed;
  width: calc(100%-40px);
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: white;
  font-size: 15px;
  /* z-index: 1; */
}

.status-bar__column {
  opacity: 0.6;
}
